[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "==0.13.0"
flask-marshmallow = "==0.14.0"
werkzeug = "==0.16.1"
flask-sqlalchemy = "==2.5.1"
marshmallow-sqlalchemy = "==0.24.1"
sqlalchemy = "==1.4.46"
markupsafe = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.10"
